{% extends "::base.html.twig" %}

{% block title %}AppBundle:Person:showPerson{% endblock %}

{% block body %}
<h1>Welcome to the Person:showPerson page</h1>

<p>{{ person.name }}</p>
<p>{{ person.surname }}</p>

{% endblock %}
