{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1> Witaj w kontaktach</h1>
    </div>
    
    <a class="btn btn-primary" href="/showAll">Wszystkie osoby</a>
    <a class="btn btn-primary" href="/newPerson">Dodaj osobę</a>
    <a class="btn btn-primary" href="/newAddres">Dodaj Adres</a>
    <a class="btn btn-primary" href="/newPhone">Dodaj telefon</a>


{% endblock %}
